<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration 
    xmlns="http://hibernate.org"
    xmlns:xsi="http://w3.org"
    xsi:schemaLocation="http://hibernate.org http://hibernate.org/hibernate-configuration-4.0.xsd">

    <session-factory>
        <!-- 1. Configurações de Conexão com o Banco de Dados -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/financeiro?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Wlb021SP)@!</property>

        <!-- 3. Gerenciamento de Sessão -->
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- 5. Mapeamento das suas classes de Entidade (@Entity) -->
        <mapping class="br.com.javaparaweb.financeiro.usuario.Usuario" />
    </session-factory>
</hibernate-configuration>

